.row-shop{
	border:1px solid #999;
	padding:.5rem;
	border-bottom:none;
}

.row-shop:last-child{
	border-bottom: 1px solid #999;
}
.shop-name{
	while-spaceï¼›nowrap;
	overflow-x:scroll;
}
.shop-wrap a{
	
}